main {
  flex-grow: 1;
  margin-top: -8rem;
  padding: 0 var(--side-padding);
}

.bottom-link {
  font-size: 0.85rem;
  margin-top: -0.75rem;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  main {
    margin-top: -5rem;
  }
}
