/*css template*/

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #04050a;
}

/* Green headings and links */

h1, h2, h3, h4, h5, h6, a {
    color: #19914d;
}

/* Path: base_Css.css */