* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #03050a;
  --text-color: #ffffff;
  --primary-color: #219653;
  --primary-color-bright: #27ae60;
  --accent-color: #2d9cdb;

  --side-padding: clamp(2rem, 12vw, 17rem);

  /* font weights */
  --light: 300;
  --regular: 400;
  --semibold: 500;
  --bold: 600;
  --extrabold: 700;
  --black: 800;
}

body {
  font-family: Inter, "sans-serif";
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem var(--side-padding);
}

.navbar .logo {
  font-size: 2rem;
  font-weight: var(--bold);
  color: var(--primary-color);
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
  opacity: 0.5;
  font-size: 1.25rem;
  font-weight: var(--semibold);
  transition: color 0.3s ease, opacity 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: var(--primary-color);
  opacity: 1;
}
