* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #03050a;
  --text-color: #ffffff;
  --primary-color: #219653;
  --primary-color-bright: #27ae60;
  --accent-color: #2d9cdb;
  --accent-color-bright: #30aef7;

  --side-padding: clamp(2rem, 12vw, 17rem);

  /* font weights */
  --light: 300;
  --regular: 400;
  --semibold: 500;
  --bold: 600;
  --extrabold: 700;
  --black: 800;
}

@media screen and (max-width: 768px) {
  :root {
    --side-padding: clamp(1rem, 5vw, 17rem);
  }
}

::selection {
  background-color: var(--primary-color);
  color: var(--text-color);
}

body {
  font-family: Inter, "sans-serif";
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem var(--side-padding);
}

.navbar .logo {
  font-size: 2rem;
  font-weight: var(--bold);
  color: var(--primary-color);
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: clamp(2rem, 5vw, 3.5rem);
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
  opacity: 0.5;
  font-size: 1.25rem;
  font-weight: var(--semibold);
  transition: color 0.3s ease, opacity 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: var(--primary-color);
  opacity: 1;
}

.navbar .mobile-menu {
  display: none;
}

.navbar .mobile-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar #mobile-menu-open,
.navbar #mobile-menu-close {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.navbar #mobile-menu-open:hover,
.navbar #mobile-menu-close:hover {
  opacity: 1;
}

.navbar #mobile-menu-open div {
  display: flex;
  border: none;
  position: relative !important;
}

.navbar #mobile-menu-open div,
.navbar #mobile-menu-open div::before,
.navbar #mobile-menu-open div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--text-color);
  border-radius: 0.4rem;
  width: 2rem;
  height: 0.35rem;
}

.navbar #mobile-menu-open div::before {
  transform: translateY(-0.6rem);
}

.navbar #mobile-menu-open div::after {
  transform: translateY(0.6rem);
}

.navbar #mobile-menu-close {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: var(--side-padding);
  right: var(--side-padding);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar #mobile-menu-close::before,
.navbar #mobile-menu-close::after {
  content: "";
  display: block;
  position: absolute;
  background: var(--text-color);
  border-radius: 0.4rem;
  width: 2rem;
  height: 0.35rem;
}

.navbar #mobile-menu-close::before {
  transform: rotate(45deg);
}

.navbar #mobile-menu-close::after {
  transform: rotate(-45deg);
}

#mobile-menu-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  z-index: 100;
  padding: var(--side-padding);
}

#mobile-menu-links.closed {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: var(--side-padding) var(--side-padding);
  }

  .navbar ul {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
