.button {
  background-color: var(--primary-color-bright);
  color: var(--text-color);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
  border: none;
  text-decoration: none;
  min-height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: var(--bold);
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color);
}

.button:focus {
  outline: none;
  background-color: var(--primary-color);
}

.button--secondary {
  background-color: var(--accent-color);
}

.button--secondary:hover {
  background-color: var(--accent-color-bright);
}

.button--secondary:focus {
  outline: none;
  background-color: var(--accent-color-bright);
}

/* form components */

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input {
  padding: 1.1rem 1.25rem;
  font-size: 1rem;
  font-weight: var(--medium);
  color: var(--bg-color);
  background-color: var(--text-color);
  border-radius: 0.4rem;
  flex-grow: 1;
  border: none;
  outline: none !important;
}

.label {
  font-size: 0.8rem;
  font-weight: var(--bold);
  color: var(--accent-color);
}

#show-password-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: var(--bold);
  color: var(--primary-color-bright);
  transition: color 0.3s ease;
  margin-left: auto;
}

#show-password-button:hover {
  color: var(--primary-color);
}

.submit-button {
  flex-grow: 1;
  height: 4rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  max-width: 25rem;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.auth-form-title {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.auth-form .submit-button {
  margin-top: 0.5rem;
}
