.button {
  background-color: var(--primary-color-bright);
  color: var(--text-color);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
  border: none;
  text-decoration: none;
  min-height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: var(--bold);
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color);
}

.button:focus {
  outline: none;
  background-color: var(--primary-color);
}

.button--secondary {
  background-color: var(--accent-color);
}

.button--secondary:hover {
  background-color: var(--accent-color-bright);
}

.button--secondary:focus {
  outline: none;
  background-color: var(--accent-color-bright);
}

/* form components */

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input {
  padding: 1.1rem 1.25rem;
  font-size: 1rem;
  font-weight: var(--medium);
  color: var(--bg-color);
  background-color: var(--text-color);
  border-radius: 0.4rem;
  flex-grow: 1;
  border: none;
  outline: none !important;
}

.label {
  font-size: 0.8rem;
  font-weight: var(--bold);
  color: var(--accent-color);
}

.show-password-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: var(--bold);
  color: var(--primary-color-bright);
  transition: color 0.3s ease;
  margin-left: auto;
}

.show-password-button:hover {
  color: var(--primary-color);
}

.submit-button {
  flex-grow: 1;
  height: 4rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  max-width: 25rem;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.auth-form-title {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.auth-form .submit-button {
  margin-top: 0.5rem;
}

.link {
  color: var(--primary-color);
  font-weight: var(--semi-bold);
  text-decoration: underline;
  font-size: 1rem;
}

.form-error {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--error-color);
  background-color: var(--error-color-light);
  border: 0.15rem solid var(--error-color);
  border-radius: 0.4rem;
  padding: 1.25rem 1rem;
}

.tune {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  background-color: var(--bg-color-light);
  padding: 1.25rem;
  border-radius: 0.4rem;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.tune-info {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  width: 5.25rem;
}

.tune-name {
  font-size: 1rem;
  font-weight: var(--bold);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tune-author {
  font-size: 0.75rem;
  font-weight: var(--medium);
  opacity: 0.6;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tune-author a {
  text-decoration: underline;
  color: var(--accent-color);
  transition: 0.3s color ease;
}

.tune-author a:hover {
  color: var(--accent-color-bright);
}

.tune-controls {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.tune-likes {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
}

.tune-likes button {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
  background: none;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.tune-likes button img {
  width: 100%;
  height: 100%;
}

.tune-likes p {
  font-size: 0.75rem;
  opacity: 0.6;
  font-weight: var(--medium);
  width: 2.5rem;
  text-align: center;
}

.tune-delete {
  --size: 2.15rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--error-color);
  padding: 0.4rem;
  border: none;
  outline: none !important;
  border-radius: 0.4rem;
  cursor: pointer;
}

.tune-delete img {
  width: 100%;
  height: 100%;
}

.play-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
}

.toggle-play {
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  background: transparent;
  outline: none !important;
  cursor: pointer;
}

.toggle-play img {
  width: 100%;
  height: 100%;
}

.progress-bar {
  flex-grow: 1;
  height: 0.5rem;
  position: relative;
}

.progress-bar div {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.progress-bar-bg {
  background-color: var(--text-color);
  opacity: 0.15;
}

.progress-bar-track {
  background-color: var(--accent-color);
  border-radius: 0.5rem;
}

.progress-bar-timestamp {
  color: var(--text-color);
  opacity: 0.4;
  font-size: 0.75rem;
  font-weight: var(--medium);
}

.dropdown-select {
  padding: var(--right-padding) 0.8rem;
  padding-left: var(--left-padding);

  background-color: var(--bg-color-light);
  color: var(--text-color);
  border-radius: 0.4rem;
  border: none;
  outline: none !important;
  font-weight: var(--bold);
  font-size: 0.8rem;
  appearance: none;
  cursor: pointer;
}

.dropdown-select-wrapper {
  --right-padding: 1rem;
  --size: 1.5rem;
  --left-padding: calc(var(--size) + var(--right-padding));

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dropdown-select-wrapper::after {
  content: "";
  background-image: url("/static/images/icons/arrow-down.svg");
  background-size: 100%;
  width: var(--size);
  height: var(--size);
  position: absolute;
  pointer-events: none;
  left: calc(var(--right-padding) * 0.8);
  transition: transform 0.3s ease;
}

.dropdown-select-wrapper:focus-within::after {
  transform: rotate(180deg);
}

.radio {
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid var(--text-color);
  opacity: 0.5;
  border-radius: 50%;
  appearance: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.radio:checked {
  border: 0.25rem solid var(--primary-color);
  opacity: 1;
}

.number-input {
  background-color: var(--keyboard-bg);
  border-radius: 0.4rem;
  padding: 0.75rem 0.5rem;
  border: none;
  outline: none !important;
  color: var(--text-color);
  font-weight: var(--semibold);
  width: 6rem;
}

.number-input::-webkit-inner-spin-button {
  appearance: none;
  opacity: 0.5;
  width: 2rem;
  height: 2rem;
  background-image: url("/static/images/icons/range.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position-x: 80%;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.number-input::-webkit-inner-spin-button:hover {
  opacity: 1;
}
