{% extends 'django_jam_app/base.html' %}
{% load static %}

{% block title_block %}
    About
{% endblock %}

{% block head_block %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <main>
        <div class="content">
            <div class="content-text">
                <h1>About Us<h1>
                <p>
                    Craft, collaborate, and share your tunes with DjangoJam! Created by WAD Team 5A for a university project, our platform lets you compose, and jam with others in real-time. You can also like and expore other user's tunes to fully immerse yourself in the music. Join now to unleash your musical genius!
                </p>

                <div class="content-links">
                    <a class="link" target="_blank" rel="noreferrer"  href="https://github.com/Team-5A/DjangoJam">Github</a>
                    <a class="link" target="_blank" rel="noreferrer" href="https://www.google.com/search?sca_esv=500000a2888a0808&sxsrf=ACQVn0_YWPYSO8EfmZkAmqhem6tSHRN6gw:1711096980994&q=music+notes&tbm=isch&source=lnms&prmd=ivnbmtz&sa=X&ved=2ahUKEwjws-n9vIeFAxVIWkEAHdebB40Q0pQJegQIJxAB&biw=1920&bih=1085">Musical Inspiration</a>
                </div>
            </div>

            <div class="content-image">
                <img src="{% static 'images/about.jpg' %}" alt="About Image">
            </div>
        </div>
    </main>
{% endblock %}