{% extends 'django_jam_app/base.html' %}
{% load static %}

{% block title_block %}
    Add a new Tune
{% endblock %}

{% block body_block %}
    <h1>Add a TUNE</h1>
    <div>
        <form id="tune_form" method="post" action="/django_jam_app/add_tune/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
            {{ field }}
            {% endfor %}
        <input type="submit" name="submit" value="Create Tune" />
        </form>
    </div>
{% endblock %}
