{% extends 'django_jam_app/base.html' %}
{% load static %}

{% block title_block %}
    Add a new Tune
{% endblock %}

{% block body_block %}
    <h1>Add a TUNE</h1>
    <p>Click the notes to add to the tune</p>
    <form id="tune-form" method="POST" action="{% url 'django_jam_app:save_tune' %}">
        {% csrf_token %}
    <div id="input-display"></div>
    <div class="keyboard">
        <button type="button" onclick="appendToDisplay('C3,')"> C3 </button>
    
        <button type="button" onclick="appendToDisplay('C#3,')"> C#3 </button>
    
        <button type="button" onclick="appendToDisplay('D3,')"> D3 </button>
    
        <button type="button" onclick="appendToDisplay('D#3,')"> D#3 </button>
    
        <button type="button" onclick="appendToDisplay('E3,')"> E3 </button>

        <button type="button" onclick="appendToDisplay('F3,')"> F3 </button>

        <button type="button" onclick="appendToDisplay('F#3,')"> F#3 </button>

        <button type="button" onclick="appendToDisplay('G3,')"> G3 </button>

        <button type="button" onclick="appendToDisplay('G#3,')"> G#3 </button>

        <button type="button" onclick="appendToDisplay('A3,')"> A3 </button>

        <button type="button" onclick="appendToDisplay('A#3,')"> A#3 </button>

        <button type="button" onclick="appendToDisplay('B3,')"> B3 </button>

        <button type="button" onclick="appendToDisplay('C4,')"> C4 </button>

        <button type="button" onclick="appendToDisplay('C#4,')"> C#4 </button>

        <button type="button" onclick="appendToDisplay('D4,')"> D4 </button>

        <button type="button" onclick="appendToDisplay('D#4,')"> D#4 </button>

        <button type="button" onclick="appendToDisplay('E4,')"> E4 </button>

        <button type="button" onclick="appendToDisplay('F4,')"> F4 </button>

        <button type="button" onclick="appendToDisplay('F#4,')"> F#4 </button>

        <button type="button" onclick="appendToDisplay('G4,')"> G4 </button>

        <button type="button" onclick="appendToDisplay('G#4,')"> G#4 </button>

        <button type="button" onclick="appendToDisplay('A4,')"> A4 </button>

        <button type="button" onclick="appendToDisplay('A#4,')"> A#4 </button>

        <button type="button" onclick="appendToDisplay('B4,')"> B4 </button>

        <button type="button" onclick="appendToDisplay('C5,')"> C5 </button>

        <button type="button" onclick="appendToDisplay(',')"> Rest </button>

    </div>
        <br>
    <div>
        <label for="name-input">Name:</label>
        <input type="text" id="name-input" name="name_input">
        <br>
        <input type="hidden" id="tune-input" name="tune_input">
        <button type="submit">Save Submit</button>
    </div>
    </form>
    
    <script>
        let text = '';

        function appendToDisplay(note) {
            text += note;
            document.getElementById('input-display').innerText = text;
        }

        function clearDisplay() {
            text = '';
            document.getElementById('input-display').innerText = text;
        }

        document.getElementById('tune-form').addEventListener('submit', function(e) {
            e.preventDefault();
            document.getElementById('tune-input').value = text;
            this.submit();
        });
    </script>
{% endblock %}
