<!DOCTYPE html>
{% load static %} {% load django_jam_template_tags %}

<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>DjangoJam - {% block title_block %} Jam with Django! {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% comment %} link 'Inter' google font {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
      <a class="logo" href="{% url 'django_jam_app:index' %}">DjangoJam</a>

      {% comment %} links {% endcomment %}
      <ul>
        {% url 'django_jam_app:add_tune' as url %}
        <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">create</a></li>

        {% url 'django_jam_app:explore' as url %}
        <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">explore</a></li>

        {% url 'django_jam_app:about' as url %}
        <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">about</a></li>

        {% if user.is_authenticated %}
        <li><a href="{% url 'django_jam_app:logout' %}">logout</a></li>
        {% else %}
        {% url 'django_jam_app:login' as url %}
        <li><a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">login</a></li>
        {% endif %}
      </ul>
    </nav>

    <main>
      {% block body_block %}
      {% endblock %}
    </main>
  </body>
</html>
