<!DOCTYPE html>
{% load static %} {% load django_jam_template_tags %}

<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <title>DjangoJam - {% block title_block %} Jam with Django! {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% comment %} link 'Inter' google font {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
      <a class="logo" href="{% url 'django_jam_app:index' %}">DjangoJam</a>

      {% comment %} links {% endcomment %}
      <ul>
        <li><a href="{% url 'django_jam_app:add_tune' %}">create</a></li>
        <li><a href="{% url 'django_jam_app:explore' %}">explore</a></li>
        <li><a href="{% url 'django_jam_app:about' %}">about</a></li>

        {% if user.is_authenticated %}
        <li><a href="{% url 'django_jam_app:logout' %}">logout</a></li>
        {% else %}
        <li><a href="{% url 'django_jam_app:login' %}">login</a></li>
        {% endif %}
      </ul>
    </nav>

    <main>
      {% block body_block %}
      {% endblock %}
    </main>

    <div>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'django_jam_app:logout' %}">Logout</a></li>
        <li><a href="{% url 'django_jam_app:add_tune' %}">Add a New Tune</a></li>
        {% else %}
        <li><a href="{% url 'django_jam_app:register' %}">Sign Up</a></li>
        <li><a href="{% url 'django_jam_app:login' %}">Login</a></li>
        {% endif %}
        <li><a href="{% url 'django_jam_app:about' %}">About</a></li>
        <li><a href="{% url 'django_jam_app:explore' %}">Explore</a></li>
        <li><a href="{% url 'django_jam_app:index' %}">Index</a></li>
      </ul>
    </div>
  </body>
</html>
