{% extends 'django_jam_app/base.html' %}
{% load static %}

{% block title_block %}
    Add a new Tune
{% endblock %}

{% block head_block %}
    <script src="{% static 'js/create.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">
{% endblock %}

{% block body_block %}
<main>
    <div class="controls">
        <div id="keyboard">
            <div id="keys">
                <div id="sharp-keys"></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
