{% extends 'django_jam_app/base.html' %}
{% load static %}

{% block title_block %}
    Explore Page
{% endblock %}

{% block head_block %}
    <script src="{% static 'js/tune.js' %}" defer></script>
    <script src="{% static 'js/play-bar.js' %}" defer></script>
{% endblock %}

{% block body_block %}
    
    <h1>Explore</h1>

    <form method="get" action="{% url 'django_jam_app:explore' %}">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    
    <h2>Users</h2>
    <ul>
        {% for user_profile in user_profiles %}
            <li>
            <strong><a href="{% url 'django_jam_app:profile' user_profile.slug %}">{{ user_profile.user.username }}</a></strong>
            </li>
        {% empty %}
            <li>No users found</li>
        {% endfor %}
    </ul>
    
    <h2>Tunes</h2>
    <ul>
        {% for tune in tunes %}
            {% include 'django_jam_app/components/tune.html' with tune=tune user_profile=tune.creator.userprofile %}
        {% empty %}
            <li>No tunes found</li>
        {% endfor %}
    </ul>


{% endblock %}