{% extends 'django_jam_app/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body_block %}
    <main>
        <div class="hero">
            {% comment %} hero title {% endcomment %}
            <div class="hero-text">
                <h1>Jam your heart out with django!</h1>
                <p>Create and share all your fabulous midi creations on the world’s leading online piano.</p>
            </div>

            {% comment %} call to action {% endcomment %}
            <div class="hero-cta">
                <form action="">
                    <input size="20" type="text" placeholder="Username...">
                    <button class="button" type="submit">Sign Up</button>
                </form>

                <p>or</p>

                <a class="button button--secondary" href="{% url 'django_jam_app:add_tune' %}">Start Jamming</a>
            </div>
        </div>
    </main>
{% endblock %}
