{% extends 'django_jam_app/base.html' %}
{% load static %}

{% block title_block %}
  Sign Up
{% endblock %}

{% block head_block %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
  <script src="{% static 'js/auth.js' %}" defer></script>
{% endblock %}

{% block body_block %}
  <main class="auth-form-container">

    <form class="auth-form" id="register_form" method="post" action="{% url 'django_jam_app:register' %}">
      {% csrf_token %}
      <h1 class="auth-form-title">Sign Up</h1>

      <div class="input-container">
        <label class="label" for="username">Username</label>
        <input class="input" type="text" name="username" placeholder="enter username" size="32" />
      </div>

      <div class="input-container">
        <label class="label" for="password">Password</label>
        <input class="input input--password" type="password" name="password" placeholder="enter password" size="32" />

        <button class="show-password-button" tabindex="-1" type="button" for="password">show password</button>
      </div>

      <div class="input-container" style="margin-top: -.35rem">
        <label class="label" for="confirmPassword">Confirm password</label>
        <input class="input input--password" type="password" name="confirmPassword" placeholder="enter password" size="32" />

        <button class="show-password-button" tabindex="-1" type="button" for="confirmPassword">show password</button>
      </div>

      {% if has_error %}
        <div class="form-error">
            {{ error }}
        </div>
      {% endif %}

      <button class="button submit-button" type="submit">sign up</button>

      <a class="link bottom-link" href="{% url 'django_jam_app:login' %}">already have an account?</a>
    </form>
  </main>
{% endblock %}