<li>
  <button onclick="playSong('{{ tune.notes }}','{{ tune.beats_per_minute }}')">
    Play
  </button>
  <strong class="name">{{ tune.name }}</strong>
  <strong class="id">{{ tune.ID }}</strong>
  <span class="notes" style="opacity: 0.5">{{ tune.notes }}</span>
  
    <div>
    <form id="like_form">
        {% csrf_token %}
        <!-- Other form fields -->

        <strong id="like_count">{{ tune.likes }}</strong> likes
        {% if user.is_authenticated %}
        <button id="like_btn"
          data-tuneID="{{ tune.ID }}"
          class="btn btn-primary btn-sm" type="button">
          <span data-feather="thumbs-up"></span>
          &#128077;
        </button>
            
        <button onclick="">&#128078;</button>
            
        {% endif %}
    </form>
    </div>
    
</li>